<div class="page page-invoices">

    <div class="contentBox">
      <h3 class="contentBoxTop">판매보기 - 입력일 이후에 판매한 송품장 리스트</h3>    
     
      <table width="100%">
        <tr>
          <td>
            입력일:&nbsp;
            <input style="width: 80px;" matInput [matDatepicker]="picker" placeholder="" [(ngModel)]="s_date" (ngModelChange)="anotherDay()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> 
            &nbsp;            
            <a [routerLink]="['/','invoice']" class="btn btn-primary btn-sm" role="button">재고 보기</a>&nbsp;
            <a [routerLink]="['/','invoice', 'all']" class="btn btn-primary btn-sm" role="button">전체 보기</a>&nbsp;
            <a [routerLink]="['/','invoice', 'sale']" class="btn btn-primary btn-sm" role="button">판매 보기</a>&nbsp;
            <a [routerLink]="['/','invoice', 'deadline']" class="btn btn-warning btn-sm" role="button">마감 보기</a>&nbsp;
          </td>
          <td>
            <button (click)="exportAsXLSX()">
              <i class="fa fa-file-excel-o" style="font-size:20px;color:blue"></i>
            </button>
          </td>
        </tr>
      </table>
        
      <table class="table table-bordered">
        <thead>
          <tr>
            <!-- <th width="10%">구분</th> -->
            <th width="25%">출하자<br/>반입일자, 거래형태, 송장번호</th>
            <th width="25%">품종 <br/>원산지, 거래단량, 등급, 반입중량</th>
            <th width="20%" class="text-right">입고수량<br/>영업인</th>            
            <th width="20%" class="text-right">판매수량<br/>매출금액</th>
            <th width="10%" class="text-right">재고수량</th>
        </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let invoice of invoices; let i = index">  
            <ng-container *ngIf="invoice.unstoring.length > 0 ">              
            <tr>
              <!-- <td>
                {{invoice.in_out}}
              </td> -->
              <td>
                  {{invoice.seller}}<br/>{{invoice.in_date}}, {{invoice.deal_type}}, 
                  <ng-container *ngIf="invoice.in_number - invoice.out_number === 0">
                    <span style='color:red; text-decoration: underline;'><b>{{invoice.invoice}}</b></span>
                  </ng-container>
                  <ng-container *ngIf="invoice.in_number - invoice.out_number !== 0">
                    <span><b>{{invoice.invoice}}</b></span>
                  </ng-container>
              </td>
              <td>
                {{invoice.item}}<br/>
                {{invoice.origin}}, {{invoice.unit}}, {{invoice.quality}}, {{invoice.weight}}
              </td>
              <td  class="text-right">
                {{invoice.in_number | number}}<br/><span style='color:blue'><b>{{invoice.seller_no}}</b></span>
              </td>
              <td  class="text-right">
                  {{invoice.out_number | number}}<br/>{{invoice.out_sum | number}}
              </td>
              <td  class="text-right">
                <b>{{ invoice.in_number - invoice.out_number | number}} </b>
              </td>              
            </tr>
            <ng-container *ngFor="let unstoring of invoice.unstoring" >   
              <tr style="background-color: #eeeeee;">   
                <td colspan="2" class="text-right">판매일<br/>판매처</td>
                <td class="text-right">{{unstoring.outDate}}<br/>{{unstoring.outPurchase}}<br/>
                  <span style='color:green'>{{unstoring.createdAt | date: 'yyyy-MM-dd HH:mm' }}</span></td>
                <td class="text-right">{{unstoring.outNumber | number}}<br/>{{unstoring.outPrice | number}}<br/><b>{{unstoring.outSum | number}}</b></td>
                <td>수량<br/>단가<br/>금액</td>
              </tr>
            </ng-container>

              </ng-container>       

            <!-- <ng-container *ngIf="i < (invoices.length-1) && invoices[i].invoice !== invoices[i+1].invoice && invoice.unstoring.length > 0">
              <tr>
                <td colspan="7" class="text-right"><b>매수금액: {{invoice.in_sum | number}} &nbsp;&nbsp; 매출금액: {{getOutSum(invoices[i].invoice) | number }} </b></td>
              </tr>
            </ng-container>           
  
            <ng-container *ngIf="i === invoices.length-1  && invoice.unstoring.length > 0">
                <tr>
                  <td colspan="7" class="text-right"><b>매수금액: {{invoice.in_sum | number}} &nbsp;&nbsp; 매출금액: {{getOutSum(invoices[i].invoice) | number }} </b></td>
                </tr>
            </ng-container> -->
  
          </ng-container>
        </tbody>
      </table>
    </div>  
  </div>