
<div class="container">

  <div class="row">
    <h4> 송품장 업로드 </h4>
    <!-- File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
    <input type="file" name="excel" ng2FileSelect [uploader]="uploader" />
    <br/>
    <!-- button to trigger the file upload when submitted -->
    <button type="button" class="btn btn-success btn-s"
          (click)="uploader.uploadAll()" 
          [disabled]="!uploader.getNotUploadedItems().length">
          업로드
    </button>
  </div>
</div>